.custom-label {
    font-size: 22px;
}

.input-container {
    padding-top: 1rem;
}

.main-container {
    padding-left: 1rem;
}

.text-container {
    padding-top: 1rem;
}

.title-container {
    padding-bottom: 1rem;
}

.button-container {
    padding-top: 1rem;
}

.mantine-Button-root {
    font-size: 16px;
    font-weight: normal;
    color: black;
    background-color: rgba(192, 75, 75, 0.2);
    border-color: rgba(192, 75, 75, 1);
}

.mantine-Button-root:not([disabled]):hover {
    background-color: rgba(192, 75, 75, 1);
}

.mantine-Button-root[disabled] {
    opacity: 50%;
    color: grey;
    background-color: white;
    border-color: dimgrey;
}

.list-container {
    padding-top: 1rem;
    background-color: #fdf6e3;
}

.mantine-List-root {
    color: #53514a;
}

.list-title {
    font-size: 18px;
}

.list-item {
    font-size: 17px;
    font-weight: lighter;
}

.list-item b {
    font-weight: normal;
}