.custom-label {
    font-size: 24px;
}

.main-container {
    padding-left: 1rem;
}

.text-container {
    padding-top: 1rem;
}

.title-container {
    padding-bottom: 1rem;
}

.button-container {
    padding-top: 1.5rem;
    padding-right: 0.5rem;
    float: right;
}

.mantine-Button-root {
    font-size: 16px;
    font-weight: normal;
    color: dimgrey;
    background-color: rgba(192, 75, 75, 0.2);
    border-color: rgba(192, 75, 75, 1);
}

.mantine-Button-root:hover {
    background-color: rgba(192, 75, 75, 1);
}